.main{
    min-height: 100vh;
}


.projectHeader{
    background: rgb(57, 107, 187);
    position: relative;
    width: 100%;
    color: rgb(58, 53, 105);
    height: 50px;
}

.getBack{
    font-size: 2.5em;
    margin-left: 17px;
    margin-top: 0px;
    padding-bottom: 5px;
    width: fit-content;
}

.getBack:hover{
    color: white;
    cursor: pointer;
}

.projectTitle{
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: 6px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: rgb(221, 221, 221);
}





.headerLink{
    padding: 2px 0;
    background: #444444;
    text-align: center;
    color: white;
    border-top: 1px solid #8a8a8a;
    font-size: 1.2em;
    user-select: none;
}

.headerLink:hover{
    background: #888;
    cursor: pointer;
}

.headerBars{
    width: fit-content;
    padding: 6px;
    font-size: 1.8em;
    position: absolute;
    right: 10px;
    top: 1px;
    user-select: none;
    outline: none;
    
}

@media only screen and (max-width: 729px) {

.headerLinksContain{
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 1000;
}

}


@media only screen and (min-width: 730px) {

    .headerBars{
        display: none;
    }

    .projectHeader{
        display: inline-flex;
    }
    .projectTitle{
        display: none;
    }

    .getBack{
        font-size: 2.5em;
        margin-left: 26px;
        margin-top: 4px;
        padding-bottom: 5px;
        color: rgb(180, 180, 180);
        width: fit-content;
        display: inline-block;
    }

    .getBack:hover{
        color: white;
        cursor: pointer;
        text-shadow: 0 0 1px black;
    }

    .headerLinksContain{
        top: 0;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-top: 20px;
        margin-right: 20px;
        color: white;
        display: inline-flex;
    }

    .headerLink{
        margin-right:15px;
        background: none;
        border-right: 1px solid rgb(221, 221, 221);
        color: rgb(221, 221, 221);
        border-top: none;
        padding-right: 15px;
        font-size: 1em;
        height: fit-content;
    }

    .headerLink:hover{
        background: none;
        color: white;
    }

    .headerLink:last-child{
        border-right: none;
    }

    .headerBars:hover{
        color: white;
        cursor: pointer;
    }

    .headLinkUnderline{
        text-decoration: underline;
        text-underline-position: under;
    }

}

