html, body{
    background-color: #f7f7f7;
    font-family: arial, sans-serif;
  }
  
  #app{
    margin: 40px auto 16px auto;
    width: 640px;
    height: 640px;
    border: 5px solid #67759B;
    position: relative;
  }

  .main{
      position: relative;
      padding-bottom: 200px;
  }

  .site{
      position: relative;
  }

  
  .allTile{
    width: 80px;
    height: 80px;
    float: left;
  }
  
  .darkTile{
    background-color: #A67D5D;
  }
  
  .lightTile{
    background-color: #E8D0AA;
  }
  
  .allPiece{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 11px auto;
    color: white;
    font-size: 2.5em;
    text-align: center;
    cursor: pointer;
  }
  
  .darkPiece{
    background-color: #512D28;
  }
  
  .lightPiece{
    background-color: #F4C242;
  }
  
  #textArea{
    width: 400px;
    height: 80px;
    background-color: #67759B;
    margin: -14px auto;
    border-radius: 12px;
    position: relative;
  }
  
  #textMove{
    padding-top: 8px;
    text-align: center;
    margin-bottom: 0;
  }
  
  #textMand{
    margin: 0;
    text-align: center;
    border-top: 1px solid #8c6343;
  }


  @media only screen and (max-width: 680px) {

    #app{
        width: 100%;
        border: none;
        
        margin-top: 125px;
        height: fit-content;
    }

    .allTile{
        width: 12.5%;
        padding-top: 12.5%;
        height: 0;
        float: left;
      }

      .allPiece{
          margin-top: -95%;
          width: 90%;
          height: 0;
          padding-top: 90%;
      }

      .main{
        padding-bottom: 360px;
      }

      #textArea{
          position: absolute;
          margin: 0 auto;
          top: 90px;;
          left: 0;
          right: 0;
          margin-right: auto;
          margin-left: auto;
          width: 100%;
      }

      

  }

  @media only screen and (max-width: 600px) {
      .main{
          padding-bottom: 270px;
      }
  }

  @media only screen and (max-width: 500px) {
      .main{
          padding-bottom: 160px;
      }

      #textArea{
          font-size: 0.8em;
          height: 70px;
      }
  }


  @media only screen and (max-width: 420px) {

    .main{
        padding-bottom: 80px;
    }
  }
  