.aboutDiv{
    background: #f2f2f2;
    overflow: auto;
}

.aboutIntro{
    margin-bottom: 50px;
}

.aboutTitle{
    margin-top: 40px;
    font-size: 2.1em;
    text-align: center;
    font-weight: bold;
}

.aboutParagraph{
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.3em;
    text-align: center;
}

.aboutProfilePic{
    width: 48%;
    margin: 40px auto 0 auto;
}

.aboutPPImg{
    border-radius: 5px;
    width: 100%;
}

.aboutListItem{
    margin-bottom: 40px;
}

.aboutListIcon{
    font-size: 6.2em;
    text-align: center;
    color: rgb(57, 107, 187);
}

.aboutListTitle{
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.aboutListParagraph{
    font-size: 1.1em;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.abliCode{
    font-size: 4.8em;
}

.abliDesign{
    margin-bottom: 8px;
    font-size: 4.3em;
}