.projectDiv{
    background: #ededed;
}


.projectItem{
    width: 72%;
    margin: 40px auto 0 auto;
    position: relative;
}

.projectParagraph{
    font-size: 1em;
}



.projectItemImgTetris{
    background: url("../images/proj-tetris.png");
}

.projectItemImgCheckers{
    background: url("../images/proj-checkers.png");
}

.projectItemImgTo-Do{
    background: url("../images/proj-todo.png");
}

.projectItemImg{
    width: 100%;
    height: auto;
    border-radius: 10px;
    height: 0;
    padding-top: 58.82%;
    background-size: cover;

}

.projectItemImgOver{
    width: 100%;
    padding-top: 58.82%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: 10px;
    background: rgba(12, 112, 143, 0.85);
}


.projectItemImgOverTitle{
    position: absolute;
    color: white;
    font-size: 3em;
    top: 34%;
    right: 0;
    left: 0;
    text-align: center;
    margin: auto;
}

.projectItemImgOverTitle > i{
    font-size: 0.75em;
}

.projectItemImgOverTitle{
    font-family: monospace;
}

.projectIIOTCheckers > i{
    font-size: 0.65em;
}



.projectItemDesc{
    width: 80%;
    margin: 15px auto 0 auto;
    font-size: 0.9em;
    text-align: center;
    color: rgb(65, 65, 65);
}

.projectMore{
    border-top: 1px solid rgb(209, 209, 209);
    padding-top: 30px;
    margin-top: 40px;
    width: 90%;
    margin: 20px auto 0 auto;
    text-align: center;
    padding-bottom: 40px;
}

.projectMoreButton{
    margin: 15px auto 0 auto;
    font-size: 1.5em;
    padding: 2px 24px;
}