.introDiv{
    height: 100vh;
    background: linear-gradient(to bottom , #222222, #555555);
    overflow-y: auto;
}

.intLogoDiv{
    margin:  5vh auto 0 auto;
    padding-left: 1px;
    width: 61px;
    height: 62px;
    background: rgb(57, 107, 187);
    color: #e6e6e6;
    font-size: 2.4em;
    border-radius: 5px;
    line-height: 57px;
    text-align: center;
    font-weight: bold;
    position: relative;
    z-index: 10;
}

.intText{
    color: #fcfcfc;
    font-size: 1.9em;
    max-width: 360px;
    margin: 30vh auto 0 auto;
    vertical-align: middle;
    text-align: center;
}

.intButton{
    border: 2px solid rgb(57, 107, 187);
    padding: 6px 4px;
    color: white;
    font-size: 1.6em;
    width: fit-content;
    margin: 6vh auto 0 auto;
    border-radius: 4px;
    background: #4a59ad;
}

.intMoreContain{
    width: fit-content;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.intMoreText{
    color: #dfdfdf;
    font-size: 1.4em;
    margin-bottom: -8px;
}

.intMoreArrow{
    color: #dfdfdf;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8em;
}


.intStar{
    position: absolute;
    background: white;
    z-index: 1;
}

.intStarSmall{
    width: 2px;
    height: 2px;
    border-radius: 2px;
}

.intStarMedium{
    width: 3px;
    height: 3px;
    border-radius: 3px;
    box-shadow: 0 0 8px rgb(187, 187, 187);
}

.intStarLarge{
    width: 5px;
    height: 5px;
    border-radius: 5px;
    box-shadow: 0 0 18px  rgb(211, 211, 211);
}




